<html>
<head>


<a href="login.html"><button type="button">HOME</button></a>
<a href="About.html"><button type="button">ABOUT</button></a>
<a href="gallery.html"><button type="button">GALLERY</button></a>
<a href="login.html"><button type="button">LOGIN</button></a>
<a href="signup.html"><button type="button">SIGNUP</button></a>

<table>

<style>
body {
        background-image: url("https://i.pinimg.com/originals/57/bb/66/57bb66cb4895565d755910654a6b0c80.jpg ");
}

height:100%
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


</style>
<center>
<h1>This is my home page!</h1>
</center>

<center>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSFirczD48_CmIBMAg_BtDo5Y5Wiem3FdjgUHPvJO3CW4YYr5lXg" alt="jal" style="width:10%;">
</center>


</body>
</html>
